<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<comment>This is web server configuration</comment>
<entry key="ServerPort">8080</entry>
<entry key="ServerAddress">localhost</entry>
<entry key="ThreadCount">5</entry>
</properties>
